In [137]:
import numpy as np
import pandas as pd

In [138]:
df = pd.read_csv(r"C:\Users\User\Downloads\Project\car_price_prediction.csv")
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6,Automatic,4x4,4-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6,Tiptronic,4x4,4-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4,Variator,Front,4-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4,Automatic,4x4,4-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4,Automatic,Front,4-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4,Manual,Rear,2-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4,Tiptronic,Front,4-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4,Automatic,Front,4-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4,Automatic,Front,4-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4,Automatic,Front,4-May,Left wheel,White,12

In [139]:
pd.set_option('display.float_format', '{:.2f}'.format)
df.describe()

               ID       Price  Prod. year  Cylinders  Airbags
count    19237.00    19237.00    19237.00   19237.00 19237.00
mean  45576535.89    18555.93     2010.91       4.58     6.58
std     936591.42   190581.27        5.67       1.20     4.32
min   20746880.00        1.00     1939.00       1.00     0.00
25%   45698374.00     5331.00     2009.00       4.00     4.00
50%   45772308.00    13172.00     2012.00       4.00     6.00
75%   45802036.00    22075.00     2015.00       4.00    12.00
max   45816654.00 26307500.00     2020.00      16.00    16.00

In [140]:
#__edit columns' names and data types of some columns............
df.columns = df.columns.str.replace(' ', '_')
df['ID'] = df['ID'].astype(str)
df['Levy'] = df['Levy'].astype(str)
df['Levy'] = df['Levy'].str.replace('-','0')
df['Levy'] = df['Levy'].astype(np.int64)
df.columns

Index(['ID', 'Price', 'Levy', 'Manufacturer', 'Model', 'Prod._year',
       'Category', 'Leather_interior', 'Fuel_type', 'Engine_volume', 'Mileage',
       'Cylinders', 'Gear_box_type', 'Drive_wheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [141]:
#___price column basic statistics.............
price_mean = df['Price'].mean()
price_med = df['Price'].median()
price_mode = df['Price'].mode()
price_std = df['Price'].std()
price_var = df['Price'].var()
price_count = df['Price'].count()
price_quantile = df['Price'].quantile([0.25,0.50,0.75])

In [142]:
#___levy column basic statistics.............
levy_mean = df['Levy'].mean()
levy_med = df['Levy'].median()
levy_mode = df['Levy'].mode()
levy_std = df['Levy'].std()
levy_var = df['Levy'].var()
levy_count = df['Levy'].count()
levy_quantile = df['Levy'].quantile([0.25,0.50,0.75])

In [143]:
#___Cylinders column basic statistics.............
cylinders_mean = df['Cylinders'].mean()
cylinders_med = df['Cylinders'].median()
cylinders_mode = df['Cylinders'].mode()
cylinders_std = df['Cylinders'].std()
cylinders_var = df['Cylinders'].var()
cylinders_count = df['Cylinders'].count()
cylinders_quantile = df['Cylinders'].quantile([0.25,0.50,0.75])

In [144]:
#___Airbags column basic statistics.............
airbags_mean = df['Airbags'].mean()
airbags_med = df['Airbags'].median()
airbags_mode = df['Airbags'].mode()
airbags_std = df['Airbags'].std()
airbags_var = df['Airbags'].var()
airbags_count = df['Airbags'].count()
airbags_quantile = df['Airbags'].quantile([0.25,0.50,0.75])

In [145]:
#______Correlation analysis between price, levy, airbags, and cylinders
correlation = df[['Price','Levy','Cylinders','Airbags']].corr()
correlation

           Price  Levy  Cylinders  Airbags
Price       1.00 -0.00       0.01    -0.01
Levy       -0.00  1.00       0.25     0.13
Cylinders   0.01  0.25       1.00     0.18
Airbags    -0.01  0.13       0.18     1.00

In [146]:
#______Anlaysis of missing values
# here we'll generate a table/data frame for missing values comparison for every column in df
missing_value_df = pd.DataFrame({'Count': len(df),'Missing_valus':df.isnull().sum(),'Percent_missing_values':df.isnull().sum()/len(df)*100})
missing_value_df

                  Count  Missing_valus  Percent_missing_values
ID                19237              0                    0.00
Price             19237              0                    0.00
Levy              19237              0                    0.00
Manufacturer      19237              0                    0.00
Model             19237              0                    0.00
Prod._year        19237              0                    0.00
Category          19237              0                    0.00
Leather_interior  19237              0                    0.00
Fuel_type         19237              0                    0.00
Engine_volume     19237              0                    0.00
Mileage           19237              0                    0.00
Cylinders         19237              0                    0.00
Gear_box_type     19237              0                    0.00
Drive_wheels      19237              0                    0.00
Doors             19237              0                    0.00
Wheel             19237              0                    0.00
Color             19237              0                    0.00
Airbags           19237              0                    0.00

In [147]:
#____Analysis of data types and unique values in columns
# we'll create a new data frame for every column's unique counts
unique_counts_df = pd.DataFrame({'Data_Type':df.dtypes, 'Counts': len(df),'Unique_Counts':df.nunique()})
unique_counts_df

                 Data_Type  Counts  Unique_Counts
ID                  object   19237          18924
Price                int64   19237           2315
Levy                 int64   19237            559
Manufacturer        object   19237             65
Model               object   19237           1590
Prod._year           int64   19237             54
Category            object   19237             11
Leather_interior    object   19237              2
Fuel_type           object   19237              7
Engine_volume       object   19237            107
Mileage             object   19237           7687
Cylinders            int64   19237             13
Gear_box_type       object   19237              4
Drive_wheels        object   19237              3
Doors               object   19237              3
Wheel               object   19237              2
Color               object   19237             16
Airbags              int64   19237             17

In [148]:
#_____Group Aggregations
model_price_group = df.groupby('Model')['Price'].agg(['mean','median','std','max','min'])
category_price_group = df.groupby('Category')['Price'].agg(['mean','median','std','max','min'])
fuel_price_group = df.groupby('Fuel_type')['Price'].agg(['mean','median','std','max','min'])
gear_price_group = df.groupby('Gear_box_type')['Price'].agg(['mean','median','std','max','min'])
doors_price_group = df.groupby('Doors')['Price'].agg(['mean','median','std','max','min'])
airbags_price_group = df.groupby('Airbags')['Price'].agg(['mean','median','std','max','min'])