In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv(r"C:\Users\User\Downloads\IDS-SEM-PROJECT\data\car_price_prediction.csv")
#df

In [12]:
pd.set_option('display.float_format', '{:.2f}'.format)
df.describe()
#df['Mileage'].str.replace('km','').astype(int)

               ID       Price  Prod. year  Cylinders  Airbags
count    19237.00    19237.00    19237.00   19237.00 19237.00
mean  45576535.89    18555.93     2010.91       4.58     6.58
std     936591.42   190581.27        5.67       1.20     4.32
min   20746880.00        1.00     1939.00       1.00     0.00
25%   45698374.00     5331.00     2009.00       4.00     4.00
50%   45772308.00    13172.00     2012.00       4.00     6.00
75%   45802036.00    22075.00     2015.00       4.00    12.00
max   45816654.00 26307500.00     2020.00      16.00    16.00

In [13]:
#__edit columns' names and data types of some columns............
df.columns = df.columns.str.replace(' ', '_')
df['ID'] = df['ID'].astype(str)
df['Levy'] = df['Levy'].astype(str)
df['Levy'] = df['Levy'].str.replace('-','0')
df['Levy'] = df['Levy'].astype(np.int64)
df['Mileage'] = df['Mileage'].str.replace('km','').astype(int)
df['Engine_volume'] = df['Engine_volume'].str.replace('Turbo','').astype(float)

In [14]:
#______Anlaysis of missing values
# here we'll generate a table/data frame for missing values comparison for every column in df
missing_value_df = pd.DataFrame({'Count': len(df),'Missing_valus':df.isnull().sum(),'Percent_missing_values':df.isnull().sum()/len(df)*100})
#missing_value_df

#### Outlier Detection and Solution
"Here we have one value of price which is very high than mean in whole data set and also in categorical mean...so we'll change it with median value."

In [22]:
mileage_upper_limit = df['Mileage'].quantile(0.996)
mileage_lower_limit = df['Mileage'].quantile(0.04)
mileage_lower_limit

np.float64(1000.0)

In [23]:
df['Mileage'].sort_values( ascending=False).head(50)
df['Mileage'].describe()

count    19237.00
mean    140688.31
std     103130.27
min       1000.00
25%      70139.00
50%     126000.00
75%     188888.00
max     999999.00
Name: Mileage, dtype: float64

In [24]:
med = df['Price'].median()
df.loc[df['Price']>800000,'Price'] = med
df.loc[df['Mileage']>mileage_upper_limit,'Mileage'] = df['Mileage'].quantile(0.95)
df.loc[df['Mileage']<mileage_lower_limit,'Mileage'] = df['Mileage'].quantile(0.04)